{
  "openapi": "3.0.4",
  "info": {
    "title": "VietFul API",
    "description": "# INTRODUCTION\n\nVietFul API is a RESTful API that caters for creation of OR or IR resource and also actions like getting the other data such as Address, Product...\n\nFor your convenience, other common API endpoints are also documented here.",
    "contact": {
      "name": "VietFul",
      "email": "support@vnfai.com"
    },
    "version": "1.0",
    "x-logo": {
      "url": "/StaticFiles/images/logo.png",
      "backgroundColor": "#FFFFFF",
      "altText": "FAI LOGO"
    }
  },
  "servers": [
    {
      "url": "http://ext.stg.vnfai.com"
    }
  ],
  "paths": {
    "/api/v1/AdministrativeUnits/provinces": {
      "get": {
        "tags": [
          "AdministrativeUnits"
        ],
        "summary": "Get Provinces",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "description": "If null, it returns the Provinces from this Country by Partner",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.v1.Dtos.ProvinceDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/AdministrativeUnits/districts": {
      "get": {
        "tags": [
          "AdministrativeUnits"
        ],
        "summary": "Get Districts",
        "parameters": [
          {
            "name": "provinceId",
            "in": "query",
            "description": "If set, it returns Districts from this Province only",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.v1.Dtos.DistrictDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/AdministrativeUnits/wards": {
      "get": {
        "tags": [
          "AdministrativeUnits"
        ],
        "summary": "Get Wards",
        "parameters": [
          {
            "name": "districtId",
            "in": "query",
            "description": "If set, it returns Wards from this District only",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.v1.Dtos.WardDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/condition-types": {
      "get": {
        "tags": [
          "ConditionTypes"
        ],
        "summary": "Get product's condition types.",
        "description": "Get existing types of product condition, e.g: New, Old, Broken...",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.ConditionTypeDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/irs": {
      "get": {
        "tags": [
          "InboundRequests"
        ],
        "summary": "Get Inbound requests",
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "description": "From Date \n\nFormat: ```yyyy-MM-dd```\n\nDefault: Today - 30 days",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-01"
            },
            "example": "2021-07-01"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "To Date \n\nFormat: ```yyyy-MM-dd```\n\nDefault: Today \n\nMax range day: 30 days",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-31"
            },
            "example": "2021-07-31"
          },
          {
            "name": "WithProduct",
            "in": "query",
            "description": "Include product lines in response",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "example": false
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Filter by statuses",
            "schema": {
              "type": "string",
              "example": "New,Processing,Finished"
            },
            "example": "New,Processing,Finished"
          },
          {
            "name": "SearchDateOption",
            "in": "query",
            "description": "Search date option of FromDate and ToDate\n\nPossible values: ```None(0)```, ```CreatedDate(1)```, ```UpdatedDate(2)```",
            "schema": {
              "$ref": "#/components/schemas/FAI.Core.Misc.SearchDateOptionEnum"
            },
            "example": 1
          },
          {
            "name": "ORIds",
            "in": "query",
            "description": "Outbound request ID list",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.ExtPagedList`1[[FAI.External.Api.Dtos.Response.IRListItemDto, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "InboundRequests"
        ],
        "summary": "Create Inbound Requests.",
        "requestBody": {
          "description": "List of requests.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreateIRDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreateIRDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreateIRDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.CreateIRResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/irs/{id}": {
      "get": {
        "tags": [
          "InboundRequests"
        ],
        "summary": "Get Inbound Request Detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inbound request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.IRFullDetailDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/irs/get-by-code/{code}": {
      "get": {
        "tags": [
          "InboundRequests"
        ],
        "summary": "Get Inbound request detail by PartnerIRCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Partner system's IR code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.IRFullDetailDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/irs/{id}/cancel": {
      "post": {
        "tags": [
          "InboundRequests"
        ],
        "summary": "Cancel Inbound Request",
        "description": "VietFul allows to cancel IR.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CancelIRDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CancelIRDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CancelIRDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/irs/{id}/receiving-sessions/details": {
      "get": {
        "tags": [
          "InboundRequests"
        ],
        "summary": "Get receiving session details for an Inbound Request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inbound request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.IR.ReceivingItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/irs/get-by-code/{code}/receiving-sessions/details": {
      "get": {
        "tags": [
          "InboundRequests"
        ],
        "summary": "Get receiving session details for an Inbound Request by PartnerIRCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Partner system's IR code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.IR.ReceivingItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Logistics/re-deliver": {
      "post": {
        "tags": [
          "Logistics"
        ],
        "summary": "Redeliver package",
        "description": "Sends re-delivering request using Package Tracking Code (please refer payload of **OR_DELAY** event)",
        "requestBody": {
          "description": "Redeliver package request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.RedeliverPackageDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.RedeliverPackageDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.RedeliverPackageDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors": {
      "get": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Get Outbound requests",
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "description": "From Date \n\nFormat: ```yyyy-MM-dd```\n\nDefault: Today - 30 days",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-01"
            },
            "example": "2021-07-01"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "To Date \n\nFormat: ```yyyy-MM-dd```\n\nDefault: Today \n\nMax range day: 30 days",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-31"
            },
            "example": "2021-07-31"
          },
          {
            "name": "WithProduct",
            "in": "query",
            "description": "Include product lines in response",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "example": false
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Filter by statuses",
            "schema": {
              "type": "string",
              "example": "New,Processing"
            },
            "example": "New,Processing"
          },
          {
            "name": "IsHold",
            "in": "query",
            "description": "Filter by ishold\nnull: get all\ntrue: get all by hold\nfalse: get all by unhold",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "example": true
          },
          {
            "name": "SearchDateOption",
            "in": "query",
            "description": "Search date option of FromDate and ToDate\n\nPossible values: ```None(0)```, ```CreatedDate(1)```, ```UpdatedDate(2)```",
            "schema": {
              "$ref": "#/components/schemas/FAI.Core.Misc.SearchDateOptionEnum"
            },
            "example": 1
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.ExtPagedList`1[[FAI.External.Api.Dtos.Response.OR.ORListItemDto, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Create Outbound Requests",
        "description": "How does it work?\n\n- When VietFul receives request from Partner, it will do some basic validations and if data is valid,\nit will accept this request, put it to queue then send response back to Partner with ID and Code generated by VietFul.\n\n- Partner's system should capture this data for later reference.\n\n- When order processed (successful or not, for some reasons such as not enough stock, not supported shipping service...),\nVietFul will send result to Partner via Webhook.",
        "requestBody": {
          "description": "OR creating request body, it's list of expected orders",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreateORDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreateORDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreateORDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.InitORResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/{id}": {
      "get": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Get Outbound request detail by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Outbound request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.OR.ORFullDetailDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/get-by-code/{code}": {
      "get": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Get Outbound request detail by PartnerORCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Partner system's OR code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.OR.ORFullDetailDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/{id}/cancel": {
      "post": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Cancel Outbound Request",
        "description": "VietFul allows to cancel OR",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CancelORDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CancelORDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CancelORDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/{id}/logistic-info": {
      "post": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Update Outbound Request Logistic Info",
        "description": "Partner can use custom shipping label template and tracking code.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.UpdateORLogisticInfoDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.UpdateORLogisticInfoDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.UpdateORLogisticInfoDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/{id}/return": {
      "post": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Update Outbound Request's status to OnReturn",
        "description": "Partner can update outbound request's status to ```OnReturn```",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.OR.ReturnORDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.OR.ReturnORDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.OR.ReturnORDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/{id}/hold": {
      "put": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Hold Outbound Request",
        "description": "VietFul allows to hold OR",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Outbound request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.HoldORDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.HoldORDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.HoldORDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/{id}/unhold": {
      "put": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "UnHold Outbound Request",
        "description": "VietFul allows to unhold OR",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Outbound request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/{id}/upload-awb": {
      "post": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Upload AWB Outbound Request",
        "description": "Update AWB Outbound Request by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Outbound request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "File pdf",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/finances": {
      "get": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Retrieve finance details for outbound requests",
        "parameters": [
          {
            "name": "ORIds",
            "in": "query",
            "description": "A maximum of 50 ORIds can be sent in one request, with each ORId separated by a comma.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UseChildBundlePrice",
            "in": "query",
            "description": "When ```true```, uses the child product's price instead of the current product's price.\nDefaults to ```false```.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.OR.GetORFinanceResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/{id}/packages": {
      "get": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Get outbound request package list",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Outbound request Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.OR.GetORPackageListExtResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ors/get-by-code/{code}/packages": {
      "get": {
        "tags": [
          "OutboundRequests"
        ],
        "summary": "Get Outbound request package list by PartnerORCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Partner system's OR code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.OR.GetORPackageListExtResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner-branchs": {
      "get": {
        "tags": [
          "PartnerBranchs"
        ],
        "summary": "Get partner branch list.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.PartnerBranchs.PartnerBranchResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner-branchs/{id}/address-books": {
      "get": {
        "tags": [
          "PartnerBranchs"
        ],
        "summary": "Get partner address book list",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "PartnerBranch Identify Number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.PartnerBranchs.PartnerAddressBookResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PartnerBranchs"
        ],
        "summary": "Create partner address book for partner branch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "PartnerBranch Identify Number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreatePartnerAddressBookDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreatePartnerAddressBookDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreatePartnerAddressBookDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.PartnerBranchs.CreatePartnerAddressBookResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/object-types": {
      "post": {
        "tags": [
          "PartnerObjectTypes"
        ],
        "summary": "Create Partner Object types",
        "requestBody": {
          "description": "List of requests.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreatePartnerObjectTypeRequestDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.CreatePartnerObjectTypeResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "PartnerObjectTypes"
        ],
        "summary": "Get Partner Object Types",
        "parameters": [
          {
            "name": "ObjectType",
            "in": "query",
            "description": "Object type, which is used to distinguish different types of inbound/outbound requests for partners.\n\nPossible values: ```IR``` and ```OR```",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsActive",
            "in": "query",
            "description": "Partner Object Type's availability status. If not provided, all records will be returned.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.ExtPagedList`1[[FAI.External.Api.Dtos.Response.GetPartnerObjectTypePageResponseDto, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "PartnerObjectTypes"
        ],
        "summary": "Update Partner Object types",
        "requestBody": {
          "description": "List of requests.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.UpdatePartnerObjectTypeRequestDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.UpdatePartnerObjectTypeResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product list.",
        "description": "Ordered by product identity number.",
        "parameters": [
          {
            "name": "Keyword",
            "in": "query",
            "description": "SKU or product name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PartnerSKUs",
            "in": "query",
            "description": "List of Product PartnerSKU\n\nLet null or empty to get all PartnerSKU, splitting a PartnerSKU by comma",
            "schema": {
              "type": "string",
              "example": "PHONE001,PERF"
            },
            "example": "PHONE001,PERF"
          },
          {
            "name": "SKUs",
            "in": "query",
            "description": "List of Product SKU\n\nLet null or empty to get all SKU, splitting a SKU by comma",
            "schema": {
              "type": "string",
              "example": "PHONE001,PERF"
            },
            "example": "PHONE001,PERF"
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.ProductDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create Products",
        "description": "Create a group of products.\nThe request body will be an array, with each entry being a list of products properties you want to set for each new product",
        "requestBody": {
          "description": "Create products request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateProductDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateProductDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateProductDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateProductResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/{partnerSKU}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product details",
        "parameters": [
          {
            "name": "partnerSKU",
            "in": "path",
            "description": "Partner SKU",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.ProductFullDetailDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/units": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product Units.",
        "description": "Get all existing product's units.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.UnitDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create UOMs for products",
        "requestBody": {
          "description": "List of body requests",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateProductUnitExtRequestDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateProductUnitExtRequestDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateProductUnitExtRequestDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.Products.CreateProductUnitExtResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update UOMs for products",
        "requestBody": {
          "description": "List of body requests",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductUnitExtRequestDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductUnitExtRequestDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductUnitExtRequestDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.Products.UpdateProductUnitExtResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/{id}": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update Product",
        "description": "Update an existing product by ID\nThe request body will be an full properties of product included new data to update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Product Identify Number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Product data included new data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/{id}/activate": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Activate Product",
        "description": "Activate an existing product by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Product Identify Number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/{id}/de-activate": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "De-activate Product",
        "description": "Deactivate an existing product by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Product Identify Number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.NoContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/inventories": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product inventory",
        "description": "Get current product inventories...",
        "parameters": [
          {
            "name": "PartnerSKUs",
            "in": "query",
            "description": "List of Product PartnerSKU\n\nLet null or empty to get all PartnerSKUs, splitting a PartnerSKU by comma",
            "schema": {
              "type": "string",
              "example": "PHONE001,PERF"
            },
            "example": "PHONE001,PERF"
          },
          {
            "name": "SKUs",
            "in": "query",
            "description": "List of Product SKU\n\nLet null or empty to get all PartnerSKUs, splitting a SKU by comma",
            "schema": {
              "type": "string",
              "example": "PHONE001,PERF"
            },
            "example": "PHONE001,PERF"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "From Date \n\nFormat: ```yyyy-MM-dd```\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-08-07"
            },
            "example": "2023-08-07"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "To Date \n\nFormat: ```yyyy-MM-dd```\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-09-07"
            },
            "example": "2023-09-07"
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.ExtPagedList`1[[FAI.External.Api.Dtos.Response.InvProductBriefDto, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/inventories/serials": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product's Serials.",
        "description": "Get current product serials.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.v1.Dtos.GetProductSerialsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.v1.Dtos.GetProductSerialsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.v1.Dtos.GetProductSerialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.PagingResult`1[[FAI.External.Api.v1.Dtos.ProductSerial, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/inventory/audit": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Inventory Audit",
        "description": "Get all history transaction of the selected SKU",
        "parameters": [
          {
            "name": "WarehouseCode",
            "in": "query",
            "description": "Warehouse Code",
            "schema": {
              "type": "string",
              "example": "KQ7"
            },
            "example": "KQ7"
          },
          {
            "name": "PartnerSKUs",
            "in": "query",
            "description": "List of Product PartnerSKU\n\nSplitting a PartnerSKU by comma\n\nList product PartnerSKU which you need to get balance auditing. Fill null or leave value empty if you want to get all relevant products",
            "schema": {
              "type": "string",
              "example": "PHONE001,PERF"
            },
            "example": "PHONE001,PERF"
          },
          {
            "name": "AuditDate",
            "in": "query",
            "description": "Only accepted format: yyyy-MM-dd\n\nIf null or empty, will get all history transaction of the selected SKU",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2020-09-30"
            },
            "example": "2020-09-30"
          },
          {
            "name": "TransDesc",
            "in": "query",
            "description": "TransDesc Type\n\nPossible values: \n```CANCEL_IR```,\n```CANCELLED_OR_AFTER_PACKED```,\n```CANCELLED_OR_BEFORE_PACKED```,\n```CLOSE_PUTAWAYSESSION```,\n```CLOSE_RECEIVINGSESSION```,\n```CONVERT_CONDITIONTYPE```,\n```CREATE_IR```,\n```CREATE_OR```,\n```FINISH_IR```,\n```IMPORT```,\n```INTERNALIMPORT```,\n```PACKED_OR```,\n```UPDATE_IR```,\n```FREEZE```,\n```UNFREEZE```,\n```CONVERT_CONDITIONTYPE_OUTBOUNDLIMIT```,\n```CONVERT_CONDITIONTYPE_EXPIRED```",
            "schema": {
              "type": "string",
              "example": "FINISH_IR"
            },
            "example": "FINISH_IR"
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.ExtPagedList`1[[FAI.External.Api.Dtos.Response.InvProductTransBriefDto, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/inventory/expire": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product inventory by expired",
        "description": "Get current product inventories expired ...",
        "parameters": [
          {
            "name": "PartnerSKUs",
            "in": "query",
            "description": "List of Product PartnerSKU\n\nLet null or empty to get all PartnerSKUs, splitting a PartnerSKU by comma",
            "schema": {
              "type": "string",
              "example": "PHONE001,PERF"
            },
            "example": "PHONE001,PERF"
          },
          {
            "name": "SKUs",
            "in": "query",
            "description": "List of Product SKU\n\nLet null or empty to get all PartnerSKUs, splitting a SKU by comma",
            "schema": {
              "type": "string",
              "example": "PHONE001,PERF"
            },
            "example": "PHONE001,PERF"
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.ExtPagedList`1[[FAI.External.Api.Dtos.Response.InvProductExpiredBriefDto, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/inventories/freeze": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Freeze product inventory.",
        "description": "Freeze product inventory.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.GetInvProductFreezeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.GetInvProductFreezeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.GetInvProductFreezeDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/inventories/un-freeze": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Un-freeze product inventory.",
        "description": "Un-freeze product inventory.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.GetInvProductFreezeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.GetInvProductFreezeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.GetInvProductFreezeDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/mapping": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Sync products by channel shop.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.MappingProductsDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.MappingProductsDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.MappingProductsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.MappingProductsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/{id}/barcodes": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Add barcodes to a product.",
        "description": "Add barcodes to a product by product ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Product Identify Number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateMultipleBarCodeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateMultipleBarCodeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.CreateMultipleBarCodeDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.CreateMultipleBarCodeResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/{id}/swap-partner-sku": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Swap PartnerSKU of existing products",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Product identify number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.SwapProductDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.SwapProductDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.SwapProductDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.SwapProductResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/{id}/update-partner-sku": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update PartnerSKU of existing product",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Product identify number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductPartnerSKUDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductPartnerSKUDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Product.UpdateProductPartnerSKUDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Products/categories": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get categories",
        "description": "Get all categories.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.CategoryBriefItemDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Report/fee/extra-service": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Get extra services fee (VAS)",
        "parameters": [
          {
            "name": "WarehouseId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.PagingResult`1[[FAI.External.Api.Dtos.Response.Report.ExtraServiceFeeResponseDto, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/shipments/get-by-code/{code}": {
      "get": {
        "tags": [
          "ShipmentOrders"
        ],
        "summary": "Get shipment detail",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Partner code (input when create shipment)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.Shipment.GetShipmentDetailExternalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/shipments": {
      "post": {
        "tags": [
          "ShipmentOrders"
        ],
        "summary": "Create Shipment requests",
        "requestBody": {
          "description": "Shipment creating request body, \n\n            After creation completed, you should get shipment detail for ```TrackingCode```(from 3pl carrier).",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Shipment.CreateShipmentExternalRequestDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Shipment.CreateShipmentExternalRequestDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Shipment.CreateShipmentExternalRequestDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.Shipment.CreateShipmentExternalResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/shipping-services": {
      "get": {
        "tags": [
          "ShippingServices"
        ],
        "summary": "Get shipping services",
        "description": "Get existing shipping services, e.g: Standard, Next Day, Delivery 2H...",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.ShippingServiceDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stock-transfers": {
      "post": {
        "tags": [
          "StockTransfers"
        ],
        "summary": "Create Stock Transfer requests",
        "requestBody": {
          "description": "Request body for creating stock transfer",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.StockTransfer.CreateStockTransferRequestDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.StockTranfer.CreateStockTransferResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "StockTransfers"
        ],
        "summary": "Get Stock Transfer requests",
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "description": "From Date \n\nFormat: ```yyyy-MM-dd```\n\nDefault: Today - 30 days",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-05-14"
            },
            "example": "2024-05-14"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "To Date \n\nFormat: ```yyyy-MM-dd```\n\nDefault: Today \n\nMax range day: 30 days",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-06-14"
            },
            "example": "2024-06-14"
          },
          {
            "name": "Content",
            "in": "query",
            "description": "Content \n\nSearch by Stock Transfer code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Filter by statuses \n\nPossible values: ```New (1)```, \n```OutboundWaiting (10)```, \n```OutboundProcessing (20)```, \n```InTransit (30)```,\n```Cancel (40)```,\n```InboundWaiting (50)```,\n```InboundProcessing (60)```,\n```Finish (70)```",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "OutboundWating"
            },
            "example": "OutboundWating"
          },
          {
            "name": "FromWarehouseCode",
            "in": "query",
            "description": "Outbound warehouse code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ToWarehouseCode",
            "in": "query",
            "description": "Inbound warehouse code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "example": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.ExtPagedList`1[[FAI.External.Api.Dtos.Response.StockTranfer.GetStockTransferPageListResponseDto, FAI.External.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stock-transfers/{id}": {
      "get": {
        "tags": [
          "StockTransfers"
        ],
        "summary": "Get Stock Transfer detail by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "VietFul's Stock Transfer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.StockTranfer.GetStockTransferDetailResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stock-transfers/{id}/cancel": {
      "put": {
        "tags": [
          "StockTransfers"
        ],
        "summary": "Cancel Stock Transfer request",
        "description": "VietFul allows you to cancel Stock transfer request when the request status is one of the following: ```New```, ```OutboundWaiting```, ```OutboundProcessing``` and ```InTransit```",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "VietFul's Stock Transfer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.StockTransfer.CancelStockTransferRequestDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/units": {
      "post": {
        "tags": [
          "Units"
        ],
        "summary": "Create units",
        "description": "Units will be created if the unit code does not exist, otherwise the existing unit will be returned. No error will be thrown for existing unit code, but the error details will be included in the response for each unit.",
        "requestBody": {
          "description": "Create units request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.CreateUnitRequestDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.CreateUnitResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Warehouses": {
      "get": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Get warehouses.",
        "description": "List of available warehouses.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Dtos.Response.WarehouseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAI.External.Api.Models.ExceptionErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/WebhookSubscribers": {
      "post": {
        "tags": [
          "WebhookSubscribers"
        ],
        "summary": "Create webhook subscribers.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Webhook.UpdateAllEventSubscriberDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FAI.External.Api.Dtos.Request.Webhook.UpdateAllEventSubscriberDto"
              }
            },
[...]
